.vscode/**
.vscode-test/**
src/**
node_modules/**
coverage/**
docs/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
.vibereport/**
*.vsix
pnpm-lock.yaml
